/* Menu Categories Card */
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    display: inline-flex; /* Make the menu cards appear side by side */
    vertical-align: top; /* Align the menu cards to the top */
  }

  @media only screen and (max-width:700px) {
    .menu-card {
       margin-left:25%;
      }
  
  }
  
 
  .menu-card:hover {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .menu-card .category-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 16px 0;
  }
  

  .menu-card .category-description {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin: 0 16px;
  }
  
  .menu-card .view-menu-btn {
    display: block;
    width: 50%;
    height: 40px;
    background-color:transparent;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .menu-card .view-menu-btn:hover {
    background-color: #444;
    transform: translateY(-2px);
  }

   .menu-card .view-menu-btn:active {
    background-color: #222;
    transform: translateY(2px);
  }


  body {
    font-family: Arial, sans-serif;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 300px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .product-card .product-info {
    padding: 20px;
  }
  
  .product-card .product-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .product-card .product-info p {
    font-size: 0.8rem;
    color: #888;
    margin: 10px 0;
  }
  
  .product-card .product-info .price {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  form .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  form .form-control label {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  
  form .form-control select,
  form .form-control input[type="number"] {
    font-size: 0.8rem;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  form .form-control select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
  }
  
  form .form-control input[type="submit"] {
    font-size: 0.8rem;
    background-color: #28a745;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form .form-control input[type="submit"]:hover {
    background-color: #218838;
  }

  


 /* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: white;
  text-decoration: none;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.navbar .right {
  float: right;
}

.container-fluid-options {
  margin-left: auto;
  display: flex;
  justify-content: space-between;

}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 
/* Footer styling */
footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  
}

