<!-- base_index.html template -->
<!DOCTYPE html>
<html>
<head>
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_cart_style.css') }}">
  <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('main.index')}}">E-Commerce Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.dashboard')}}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.menu_base')}}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="container-fluid-options">
        <a href="{{url_for('main.add_user')}}">
          <button class="btn btn-outline-success me-2" type="button">Sign Up</button>
        </a>
        <a href="{{url_for('main.login')}}">
          <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
        </a>
      </div>
  </nav>
  {% block main %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Serendi Development</h1>
        <p class="lead"></p>
        <a href="/menu" class="btn btn-primary btn-lg">View Categories</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Python Web Application Development</h2>
          <p>Build web applications, Customer Relationship Management(CRM) Apps, Inventory Management Systems, and any app with Python</p>
        </div>
        <div class="col-md-4">
          <h2>Python Scripting and Automation</h2>
          <p>Develop Automation bots that run both offline and online depending on your use case for web scraping, file handling, and marketing</p>
        </div>
        <div class="col-md-4">
          <h2>Data Analytics and Visualization</h2>
          <p>Perform data analytics on big data with python's powerful libraries and AI tools for gaining insights on customer data </p>
        </div>

        {% endblock %}

  


        <footer>
          <p>Copyright © {{ 2022 }} Serendi E-commerce</p>
        </footer>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="static/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
