{% extends 'homepage.html' %}

{% block title %} Menu Items {% endblock %}


{% block main %}

    <!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <form method="POST" action="/pay">
        {{ form.csrf_token }}
        {{ form.amount.label }} {{ form.amount }}
        {{ form.account_id.label }} {{ form.account_id }}
        {{ form.submit }}
    </form>

{% endblock %}






