{% extends 'homepage.html' %}

{% block title %} Menu Items {% endblock %}


{% block main %}

    <!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <h1>Services Offered</h1>

    {% for product in products %}

    <div class="menu-card">
        <div class="category-name">{{product.name}}</div>
        <div class="category-description">{{product.category}}<p>{{product.description}}</p></div>
     </br>
        <a class="btn btn-outline-secondary" href="{{ url_for('main.menu_category', category=product.category) }}">View Items</a>
    </div>
    
    {% endfor %}


{% endblock %}